<?php
/**
 * The footer for the theme
 *
 * @package {{basicInfo.websiteName}}
 */
?>

<footer>
    <p>&copy; <?php echo date('Y'); ?> {{basicInfo.websiteName}}. All rights reserved.</p>
</footer>

<?php wp_footer(); ?>
</body>
</html>