<?php
/**
 * The header for the theme
 *
 * @package {{basicInfo.websiteName}}
 */
?>
<!DOCTYPE html>
<html <?php language_attributes(); ?>>
<head>
    <meta charset="<?php bloginfo('charset'); ?>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <?php bloginfo('name'); ?><?php wp_title('|', true, 'left'); ?>
    </title>
    <?php wp_head(); ?>
</head>

<body <?php body_class(); ?>>
    <header>
        <h1>{{basicInfo.websiteName}}</h1>
        <p>{{basicInfo.businessDescription}}</p>
    </header>