<?php
/**
 * The sidebar for the theme
 *
 * @package {{basicInfo.websiteName}}
 */
?>

<aside id="sidebar">
    <?php if (is_active_sidebar('main-sidebar')) : ?>
        <?php dynamic_sidebar('main-sidebar'); ?>
    <?php else : ?>
        <p>Add widgets to the sidebar in the WordPress admin.</p>
    <?php endif; ?>
</aside>