<?php
/**
 * The template for displaying single posts
 *
 * @package {{basicInfo.websiteName}}
 */

get_header(); ?>

<main>
    <?php
    if (have_posts()) :
        while (have_posts()) : the_post();
            the_content();
        endwhile;
    else :
        ?>
        <p>No content found</p>
    <?php endif; ?>
</main>

<?php get_footer(); ?>