<?php
/**
 * Call to Action Module Template
 *
 * @package {{basicInfo.websiteName}}
 */
?>
<section class="cta-module">
    <h2>Ready to get started?</h2>
    <a href="#contact" class="cta-button">Contact Us</a>
</section> 