<?php
/**
 * Events Module Template
 *
 * @package {{basicInfo.websiteName}}
 */
?>
<section class="events-module">
    <h2>Upcoming Events</h2>
    <ul>
        <li>Event 1 - January 1, 2025</li>
        <li>Event 2 - February 15, 2025</li>
    </ul>
</section> 