<?php
/**
 * Newsletter Signup Module Template
 *
 * @package {{basicInfo.websiteName}}
 */
?>
<section class="newsletter-module">
    <h2>Subscribe to our Newsletter</h2>
    <form method="post">
        <input type="email" name="newsletter-email" placeholder="Your Email" required>
        <button type="submit">Subscribe</button>
    </form>
</section> 