<?php
/**
 * Pricing Table Module Template
 *
 * @package {{basicInfo.websiteName}}
 */
?>
<section class="pricing-module">
    <h2>Pricing</h2>
    <div class="pricing-table">
        <div class="pricing-plan">
            <h3>Basic</h3>
            <p>$99</p>
            <ul>
                <li>1 Website</li>
                <li>Email Support</li>
            </ul>
        </div>
        <div class="pricing-plan">
            <h3>Premium</h3>
            <p>$199</p>
            <ul>
                <li>5 Websites</li>
                <li>Priority Support</li>
            </ul>
        </div>
    </div>
</section> 