<?php
/**
 * Services Module Template
 *
 * @package {{basicInfo.websiteName}}
 */
?>
<section class="services-module">
    <h2>Our Services</h2>
    <ul>
        <li>Web Design</li>
        <li>Development</li>
        <li>SEO Optimization</li>
    </ul>
</section> 