<?php
/**
 * Testimonials Module Template
 *
 * @package {{basicInfo.websiteName}}
 */
?>
<section class="testimonials-module">
    <h2>Testimonials</h2>
    <blockquote>
        <p>"Great service and support!"</p>
        <footer>- Happy Customer</footer>
    </blockquote>
    <blockquote>
        <p>"Highly recommended!"</p>
        <footer>- Satisfied Client</footer>
    </blockquote>
</section> 